body{
    background: url(../img/1668932.jpg);
    margin: 0;
}
#days{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: transparent;
    border: none;
    width: auto;
    height: auto;
}
div{
    text-align: center;
    width: 10em;
    height: auto;
    margin: 1em;
    color: black;
    border: 2px solid black;
}
div:hover{
    color: black;
    border: 2px solid blue;
    background: yellow;
}
.backToHomePage{
    margin-left: 5em;
}

#prevousSection{
    display: flex;
    justify-content: center;
}