body{
    background: url(../img/1668932.jpg);
}
#container{
    display: flex;
    flex-wrap: wrap;
}
.todoBox{
    display:  flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    margin: 1em;
    padding: 1em;
    width: 18em;
    border-radius: 1em;
}
.rubrik{
    text-transform: uppercase;
    font-family: Bangers;
    font-weight: bolder;
}
.date{
    font-family: Bangers;
    font-weight: bolder;
    font-size: 20px;
}

@media screen and (max-width: 768px)  {
    .todoBox{
        width: 90%;
    }
}